{% extends 'base.html.twig' %}

{% block title %}ProductRating{% endblock %}

{% block body %}
    <h1>ProductRating</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product_rating.id }}</td>
            </tr>
            <tr>
                <th>Nbrratting</th>
                <td>{{ product_rating.nbrratting }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_product_rating_index') }}">back to list</a>

    <a href="{{ path('app_product_rating_edit', {'id': product_rating.id}) }}">edit</a>

    {{ include('product_rating/_delete_form.html.twig') }}
{% endblock %}
