<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <style>
        .green-bar {
            background-color: #4CAF50;
            height: 10px;
        }
        .wide-green-band {
            background-color: #4CAF50;
            height: 50px; 
            width: 100%; 
            text-align: center;
            color: white;
            font-size: 24px;
            line-height: 50px; 
        }
    </style>
</head>
<body>
    <div class="green-bar"></div>
    <div class="wide-green-band">
        Product
    </div>
    <div class="table-responsive">
        <table class="table mb-0">
            <thead>
                <tr>
                    <th>prodName</th>
                    <th>type</th>
                    <th>stock</th>
                    <th>price</th>
                    <th>date</th>
                                        <th>image</th>

                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{ product.prodName }}</td>
                    <td>{{ product.type }}</td>
                    <td>{{ product.stock }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.date ? product.date|date('Y-m-d') : '' }}</td>
                           <td><img src="data:image/jpeg;base64,{{ product.image }}"  style="width: 100px;height:100px" ></td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
