{% extends 'admin/base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <h1>Product</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Prod_name</th>
                <td>{{ product.prodName }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ product.type }}</td>
            </tr>
            <tr>
                <th>Stock</th>
                <td>{{ product.stock }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ product.price }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ product.status }}</td>
            </tr>
            <tr>
                <th>Image</th>
                 <td><img  style="width: 100px; height:100px; padding: 5px;" src="{{ asset('uploads/'~product.image) }}"/></td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ product.date ? product.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
       {% if product.productRatings is not empty %}
    <tr>
        <th>Average Rating</th>
        <td>
            {% set averageRatingInteger = averageRating | round %}
            {% for i in 1..5 %}
                {% if i <= averageRatingInteger %}
                    ⭐️
                {% else %}
                    ☆
                {% endif %}
            {% endfor %}
        </td>
    </tr>
{% endif %}

        </tbody>
    </table>

    <a href="{{ path('app_product_index') }}">back to list</a>

    <a href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a>

    {{ include('product/_delete_form.html.twig') }}
{% endblock %}
