{% extends 'admin/base.html.twig' %}

{% block title %}Gestion Categorie{% endblock %}

{% block body %}
                <div class="input-group">
        <div class="search-container">
            <label for="search-input" class="sr-only">Search Category</label>
            <input id="search-input" class="form-control" type="text" placeholder="Search Category..." style="width: 30%; padding: 10px; margin:13px; box-sizing: border-box; border: 1px solid #ccc; border-radius: 4px; font-size: 16px;">
        </div>  
    </div>

    <h1>Gestion Categorie</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}

    {% for message in app.flashes('info') %}
        <div class="alert alert-warning">{{ message }}</div>
    {% endfor %}

    {% for message in app.flashes('del') %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}

                <a href="{{path('triespc') }}"><i class="btn btn-danger" data-feather="arrow-down"></i>Nom Ascendant</a>
                        <a href="{{path('triespcDESC') }}"><i class="btn btn-danger" data-feather="arrow-down"></i>Nom Desendent</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for categorie in categories %}
                <tr>
                    <td>{{ categorie.id }}</td>
                    <td>{{ categorie.nom }}</td>
                    <td>
                        <a href="{{ path('app_categorie_show', {'id': categorie.id}) }}">Show</a>
                        <a href="{{ path('app_categorie_edit', {'id': categorie.id}) }}">Edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">No records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <span class="badge badge-sm bg-gradient"> <a href="{{ path('pdf') }}">PDF</a></span>
    <br> <br>
    <a href="{{ path('app_categorie_new') }}">Create new</a>

    {% block js %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <script>
    $(document).ready(function() {
        $("#search-input").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("table tbody tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

    {% endblock %}
{% endblock %}
